.league_pic {
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
}

.division-header {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.team_label {
  font-size: smaller;
  text-align: center;
  color: black;
}

.selected_team {
  width: 50%;
  display: block;
  margin: auto;
  box-shadow: 0px 12px 22px 10px #2ced7c;
}

.unselected_team {
  width: 50%;
}
