.simulate-content-section {
  background: #ffffff;
  padding: 1rem 2rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 2rem;
  width: 59rem;
}

.league_pic {
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
}

.division {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.division_link {
  color: black;
}

.team_label {
  text-align: center;
}

.division_column {
  vertical-align: top;
}

.sub_table {
  width: 9rem;
  height: 45rem;
}

.selected_team {
  width: 50%;
  display: block;
  margin: auto;
  box-shadow: 0px 12px 22px 10px #2ced7c;
}

.unselected_team {
  width: 50%;
  display: block;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

figcaption {
  font-size: smaller;
  color: black;
  text-align: center;
}

#matchup {
  background: #ffffff;
  padding: 2rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 2rem;
}

#away_matchup {
  margin: 0rem 2.5rem 0rem 4rem;
}

#home_matchup {
  margin: 0rem 4rem 0rem 2.5rem;
}

.row figcaption {
  padding-top: 1rem;
  margin-right: 0.75rem;
}

.column {
  float: left;
  width: 33.33%;
}

/* The container <div> - needed to position the dropdown content */
.simulate-dropdown {
  position: relative;
  align: center;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.simulate-dropdown-content {
  right: 0.5rem;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.simulate-dropdown-content a {
  color: black;
  padding: 0.5rem 1.5rem;
  display: block;
  font-size: 80%;
}

/* Change color of dropdown links on hover */
.simulate-dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.simulate-dropdown:hover .simulate-dropdown-content {display: inline;}

.swap-button {
  margin-bottom: 3rem;
}

.column h3 {
  margin: 0rem 0rem 2rem 5rem;
  font-style: italic;
}

#at-symbol {
  margin: 5rem 0rem 0rem 5rem;
}

#simulate-btn {
  margin-left: 32rem;
}
