{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row" id="league-names-row">
    {% for league, divisions in league_structure[current_year].items() %}
      <div class="col-lg-{{ 12//league_len }} mr-0">
        <img src="{{ url_for('static', filename='images/model/leagues/' + league + '.png') }}"/>
        <div class="row" id="division-names-row">
          {% for division, teams in divisions.items() %}
            <div class="col-md-{{ 12//division_len }}">
              <a href="#">{{ division }}</a>
              <div class="row">
                {% for team_id, team_name in teams.items() %}
                    <img class="unselected_team" alt="{{ team_name }}" src="{{ url_for('static',
                    filename='images/model/teams/' + team_id + current_year + '.jpg') }}"/>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
