{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quick_sim.css') }}">
  <div class="container-fluid content-section">
    <div class="btn-group">
      <button type="button" id="years_dropdown" class="btn btn-default btn-secondary dropdown-toggle" data-toggle="dropdown">
        {{ current_year }}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu scrollable-menu" role="menu">
        {% for year in year_list %}
          <li><a class="year_in_dropdown" href="#">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="teams_grid">
      <div class="row" id="league-names-row">
        {% for league, divisions in league_structure.items() %}
          <div class="col-lg-{{ 12//league_len }} text-center">
            <img class="league_pic" src="{{ url_for('static', filename='images/model/leagues/' + league + '.png') }}"/>
            <div class="row mt-4" id="division-names-row">
              {% for division, teams in divisions.items() %}
                <div class="col-md-{{ 12//division_len }}">
                  <a class="division-header" href="#">{{ division }}</a>
                  <div class="row">
                    {% for team_id, team_name in teams.items() %}
                      <a href="#">
                        <figure class="team-entity">
                          <img class="unselected_team mt-5 ml-4" alt="{{ team_name }}" src="{{ url_for('static',
                          filename='images/model/teams/' + team_id + current_year + '.jpg') }}"/>
                          <figcaption class="team_label mt-2 ml-4">
                            {{ team_name }}
                          </figcaption>
                        </figure>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-fluid hidden matchup-content-section" id="matchup">
    <form method="POST" action="">
      <button class="swap-button btn btn-primary btn-sm" type="button">Switch Home and Away</button>
      <div class="dropdown" id="select_ballpark">
        <button class="btn dropdown-toggle btn-secondary" id="ballpark_dropdown" type="button" data-toggle="dropdown">Change Game Location</button>
        <div class="dropdown-menu">
          <a class="dropdown-item set-neutral-park">Neutral Site</a>
          <a class="dropdown-item pick-new-park">Select a new ballpark</a>
        </div>
      </div>
      <div class="row matchup-row">
        <div class="column" id="away-column">
          <h3>Away</h3>
          <figure class="dropdown">
            <img class="dropdown-toggle" id="away_matchup" src="" data-toggle="dropdown">
            <div class="dropdown-menu">
              <a class="dropdown-item">Team Info</a>
              <a class="dropdown-item">Set Lineup</a>
              <a class="dropdown-item">Adjust Player Attributes</a>
              <a class="dropdown-item remove_team">Remove Team</a>
            </div>
            <figcaption id="away_caption">
            </figcaption>
          </figure>
        </div>
        <div class="column">
          <h1 id="at-symbol">@</h1>
        </div>
        <div class="column" id="home-column">
          <h3>Home</h3>
          <figure class="dropdown">
            <img class="dropdown-toggle" id="home_matchup" src="" data-toggle="dropdown">
            <div class="dropdown-menu">
              <a class="dropdown-item">Team Info</a>
              <a class="dropdown-item">Set Lineup</a>
              <a class="dropdown-item">Adjust Player Attributes</a>
              <a class="dropdown-item remove_team">Remove Team</a>
            </div>
            <figcaption id="home_caption">
            </figcaption>
          </figure>
        </div>
      </div>
      {{ form.hidden_tag() }}
      <div class="form-group">
      {{ form.games.label(class="form-control-label") }}
      {% if form.games.errors %}
        {{ form.games(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
      {% else %}
        {{ form.games(class="form-control form-control-lg") }}
      {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(id="simulate-btn", class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/quick_sim2.js') }}" ></script>
{% endblock content %}
