{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quick_sim.css') }}">
  <div class="container-fluid content-section">
    <div class="row" id="league-names-row">
      {% for league, divisions in league_structure[current_year].items() %}
        <div class="col-lg-{{ 12//league_len }} text-center">
          <img class="league_pic" src="{{ url_for('static', filename='images/model/leagues/' + league + '.png') }}"/>
          <div class="row mt-4" id="division-names-row">
            {% for division, teams in divisions.items() %}
              <div class="col-md-{{ 12//division_len }}">
                <a class="division-header" href="#">{{ division }}</a>
                <div class="row">
                  {% for team_id, team_name in teams.items() %}
                    <a href="#">
                      <figure class="team-entity">
                        <img class="unselected_team mt-5 ml-4" alt="{{ team_name }}" src="{{ url_for('static',
                        filename='images/model/teams/' + team_id + current_year + '.jpg') }}"/>
                        <figcaption class="team_label mt-2 ml-4">
                          {{ team_name }}
                        </figcaption>
                      </figure>
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row hidden" id="matchup">
    <form method="POST" action="">
      <button class="swap-button btn btn-primary btn-sm" type="button">Switch Home and Away</button>
      <div>
        <figure class="column">
          <div class="simulate-dropdown">
            <h3>Away</h3>
            <img id="away_matchup" src="">
            <div class="simulate-dropdown">
              <div class="simulate-dropdown-content">
                <a>Team Info</a>
                <a>Set Lineup</a>
                <a>Adjust Player Attributes</a>
                <a class="remove_team">Remove Team</a>
              </div>
            </div>
          </div>
          <figcaption id="away_caption">
            Cleveland Indians (2018)
          </figcaption>
        </figure>
        <figure class="column">
        <h1 id="at-symbol">@</h1>
        </figure>
        <figure class="column">
          <div class="simulate-dropdown">
            <h3>Home</h3>
            <img id="home_matchup" src="">
            <div class="simulate-dropdown">
              <div class="simulate-dropdown-content">
                <a>Team Info</a>
                <a>Set Lineup</a>
                <a>Adjust Player Attributes</a>
                <a class="remove_team">Remove Team</a>
              </div>
            </div>
          </div>
          <figcaption id="home_caption">
            Baltimore Orioles (2018)
          </figcaption>
        </figure>
      </div>
      {{ form.hidden_tag() }}
      <div class="form-group">
      {{ form.games.label(class="form-control-label") }}
      {% if form.games.errors %}
        {{ form.games(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
      {% else %}
        {{ form.games(class="form-control form-control-lg") }}
      {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(id="simulate-btn", class="btn btn-outline-info") }}
      </div>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/quick_sim2.js') }}" ></script>
{% endblock content %}
