{%extends "layout.html"%}

{%block content%}
    <div class="col-md-4">
        <div class="content-section simulations-section">
            <h3>Your Recent Simulations</h3>
            {% for simulation in recent_simulations %}
              <a class="list-group-item list-group-item-light" href="#">{{ simulation }}</a>
            {% endfor %}
        </div>
        <small class="text-muted">
            <a class="ml-2" href="{{ url_for('users.register') }}">Random</a>
        </small>
    </div>
{%endblock content%}
